# Contient les apps compilées, propres à la plateforme
*.exe
*.app

# Fichiers temporaires de compilation
tmp/
Makefile

# Fichiers personnels de configuration de Creator
*.user

# Dossier pouvant contenir un projet DASM pour tester l'IDE
test


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
##   Mac
############
.DS_Store